
.owl-carousel .owl-item img { 
    width: auto;
    &.w-100 {
        width: 100% !important;
    }
}

 
  
.owl-dots {
    display: flex;justify-content: center;align-items: center; 
    margin-top: 1.5rem;
    .owl-dot {
        width: 10px;height: 10px;border-radius: 50%;margin: 0 .2rem;
        justify-content: center;align-items: center;background-color: #7C7C7C51 !important;
         
        &.active {
            background-color: var(--brand) !important;
            width: 16px;border-radius: 8px;
        }
    }
}



.header__wraper{
    min-height: 700px;
    padding-top: 7rem;
    padding-bottom: 3rem; 

}
@media (min-width:992px) {
    .header__wraper{ 
        .fs-1{
            letter-spacing: 3px;
            font-size: 3rem !important;
        }
    
    }
}
@media (max-width:575px) {
    .header__wraper { min-height: 100vh; }
}

.scrviceTopslider {
    .owl-stage {
        display: flex;
        .owl-item {
            display: flex;padding: 1px;
        }
    }
}
 
.service__card {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 7px !important;
    width: 100%;

    .icon__box{
        &::after {
            content: '';width: 3rem;height: 3rem;background-color: #019E5724;
            border-radius: 50%;position: absolute;top: -.75rem;left: -.75rem;transition: all .3s ease-in-out;
        }
        .icon{
            width: 2.5rem; 
        }
    }  

    &:hover {
        background-color: #019E5724;
        color: var(--dark);  
        
        .icon__box {
            &::after {
                width: 4rem;height: 4rem;
            }
        }
    } 
}

.brand__logo { 
    mix-blend-mode: luminosity;filter: grayscale(100%);

    &:hover { mix-blend-mode: normal;filter: none; }
}

.promo__wrapper{
    .btn__service{
        background-color: var(--brand);
        color: #fff;
        border: var(--brand);
        &:hover {
            background-color: #fff !important;
            color: var(--brand);
        } 
    }
    .height{
        min-height: 4.5rem;width: 45%;
        // width: 17rem;
    } 
}
@media (max-width: 575px) {
    .promo__wrapper .height {
        min-height: 3.5rem;
        width: auto;
    }
}

.ellipsis-3 { 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
